@tailwind base;
@tailwind components;
@tailwind utilities;

/* SongCard.css */
.song-card {
  position: relative;
  overflow: hidden;
}

.song-card:hover .play-button {
  opacity: 1;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.song-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.song-card:hover img {
  filter: brightness(80%);
}

/* index.css or App.css */

body {
  /* Apply the scrollbar styles */
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333; /* Dark background for scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Darker background for scrollbar thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; /* Even darker on hover */
}

/* Custom scrollbar for Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}
